# Ignore .class files
*.class

# Ignore build outputs
/Project/target

# Ignore macOS-specific files
.DS_Store

# Ignore Visual Studio Code settings
/.vscode

Project/src/main/java/game_map.png
Project/src/main/java/game_map.dot

# Example specific files
[Aa]dventure.java
[Gg]raphvizGenerator.class
GraphvizGenerator$Room.class